<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/button.css">
    
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" defer></script>
    <script src="./../js/vueProduct.js" defer></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

    <title>VirtualButton</title>
</head>
<body>

    <div class="btn-engine-start" id="app">
        
        <a v-on:click="runAction()" class="btn btn-engine-start-in"><br><br></a>
        
    </div>

</body>
</html>